.archive-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}
.archive-header__count {
    color: #aaaaaa;
    font-size: 14px;
}
.archive-header__desc {
    margin-top: 20px;
    max-width: 600px;
    font-size: 14px;
    line-height: 1.7em;
}
.archive-header > svg {
    fill: #2528e8;
    flex-shrink: 0;
    margin-right: 10px;
    margin-top: 12px;
    width: 22px;
}
.archive-header > img {
    margin-right: 25px;
    margin-top: 10px;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.archive-header__title span {
    color: #999999;
}