#site-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 13px;
}
#site-footer,
.site-footer__widgets {
    padding: 30px 20px;
    border-top: 1px solid #eee;
}

.site-footer__scroll-top {
    display: flex;
    align-items: center;
    background: #fff;
    color: #000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 100px;
    padding: 5px 20px 5px 10px;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
}
.site-footer__scroll-top:focus,
.site-footer__scroll-top:hover {
    color: #000;
    background: #f7f7f7;
}
.site-footer__scroll-top svg {
    margin-top: 1px;
    width: 32px;
    height: 32px;
}

.site-footer__copy {
    color: #aaaaaa;
}
.site-footer__credits {
    text-align: right;
    line-height: 1.7em;
}

@media (--viewport-7) {
    #site-footer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
    }
    .site-footer__widgets {
        padding: 20px 20px 0;
        margin-top: 20px;
    }
    .site-footer__credits {
        text-align: center;
        margin-top: 20px;
    }
    .site-footer__scroll-top {
        order: 3;
        margin-top: 20px;
    }
}