input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-family);
    font-size: 14px;
    color: #000;
    box-sizing: border-box;
    background: #eee;
}

select:focus,
textarea:focus,
input:focus {
    outline: none;
    background: #ddd;
}

select {
	font-size: 14px;
}

textarea {
    display: block;
    resize: vertical;
}

label {
    color: #777;
    font-size: 13px;
    display: block;
}
label + input,
label + textarea,
label input,
label textarea {
    margin-top: 3px;
}

::placeholder {
    color: rgba(0, 0, 0, .4);
}

form p {
    margin-bottom: 20px;
}

input[type=checkbox] {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
input[type=checkbox] + label {
    display: inline;
    color: #000000;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    appearance: none;
}