body.page,
body.single {
    --content-width: var(--content-single-width);
    --layout-gap: 65px;
}

#site-container {
    width: 100%;
    max-width: var(--container-2col-width);
    margin: 0 auto;
}
#site-wrapper {
    display: flex;
    align-items: flex-start;
    padding: 0 var(--site-padding) 30px;
}
#site-content {
    flex-grow: 1;
    flex-basis: 0%; /* don't wrap the content */
    order: 2;
    min-width: 0; /* flexbox text-overflow hack */
}
#site-sidebar {
    order: 1;
    margin-right: var(--layout-gap);
}
#site-sidebar-right {
    order: 3;
    margin-left: var(--layout-gap);
}
#site-sidebar,
#site-sidebar-right {
    flex-shrink: 0;
    width: var(--sidebar-width);
    box-sizing: border-box;
}
/* Responsive styles controlled by js (index.js) */
#site-sidebar-right.widget-area--horizontal {
    width: 100%;
    margin: 20px -20px 0;
    padding: 30px 20px;
    border-top: 1px solid #eee;
    box-sizing: content-box;
}

/* 1 column layout */
body:not(.layout--has-lsidebar):not(.layout--has-rsidebar) #site-content {
    max-width: var(--content-single-width);
    margin: 0 auto;
}
body.home:not(.layout--has-lsidebar):not(.layout--has-rsidebar) #site-content,
body.archive:not(.layout--has-lsidebar):not(.layout--has-rsidebar) #site-content {
    max-width: var(--content-width);
}

/* 3 columns layout */
body.layout--has-lsidebar.layout--has-rsidebar #site-container {
    max-width: var(--container-3col-width);
}

@media (--viewport-13) {
    body.layout--has-lsidebar.layout--has-rsidebar #site-container {
        max-width: var(--container-2col-width);
    }
    #site-wrapper {
        flex-wrap: wrap;
    }
}
@media (--viewport-9) {
    #site-container {
        width: auto;
    }
    #site-content {
        flex-basis: 100%;
    }
}