:root {
    --post-card-gap: 8px;
    --post-card-title-max-lines: 4;
    --post-card-title-lh: 25px;
}

.post-list {
    display: grid;
    gap: var(--post-card-gap);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 320px;
}

.post-list-small {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 280px;
}

/* Grid */
.post-list .post-card:nth-child(7n + 4) {
    grid-column: 1 / -2;
}
.post-list .post-card:nth-child(7n + 7) {
    grid-column: 2 / -1;
}
.post-list .post-card:nth-child(7n + 4)::after,
.post-list .post-card:nth-child(7n + 7)::after {
    background: var(--post-hgrad);
}
.post-list .post-card:nth-child(7n + 4) .post-card__bg,
.post-list .post-card:nth-child(7n + 7) .post-card__bg {
    bottom: 0;
    left: 200px;
}
.post-list .post-card:nth-child(7n + 4) .post-card__body,
.post-list .post-card:nth-child(7n + 7) .post-card__body {
    right: 50%;
}

@media (--viewport-12) {
    .post-list-small {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (--viewport-8) {
    .post-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .post-list .post-card {
        grid-column: auto !important;
    }
    .post-list .post-card:nth-child(7n + 4)::after,
    .post-list .post-card:nth-child(7n + 7)::after {
        background: var(--post-vgrad);
    }
    .post-list .post-card:nth-child(7n + 4) .post-card__bg,
    .post-list .post-card:nth-child(7n + 7) .post-card__bg {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .post-list .post-card:nth-child(7n + 4) .post-card__body,
    .post-list .post-card:nth-child(7n + 7) .post-card__body {
        right: 0;
    }
}
@media (--viewport-7) {
    .post-list-small {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (--viewport-5) {
    .post-list {
        grid-template-columns: 1fr;
    }
    .post-list-small {
        grid-template-columns: 1fr;
        grid-auto-rows: 170px;
    }
    .post-list-small .post-card {
        --post-card-title-max-lines: 3;
    }
    .post-list-small .post-card::after {
        background: linear-gradient(to right, var(--post-color) 100px, transparent 80%);
    }
    .post-list-small .post-card .post-card__bg {
        top: 0;
        bottom: 0;
        left: 100px;
        right: 0;
    }
}


.post-card {
    --post-vgrad: linear-gradient(to top, var(--post-color) 80px, transparent 80%);
    --post-hgrad: linear-gradient(to right, var(--post-color) 200px, transparent 80%);

    position: relative;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}
.post-card__bg {
    border-radius: 3px 3px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    z-index: 0;
    background-color: rgba(20, 20, 20, 1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Gradient */
.post-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--post-vgrad);
    z-index: 1;
    pointer-events: none;
}
.post-card__link {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: -9999px;
}
.post-card__link:hover {
    background: rgba(0, 0, 0, 0.2);
}
.post-card__body {
    position: absolute;
    z-index: 2;
    padding: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}
.post-card__title {
    padding: 3px;
    margin: -3px;

    position: relative;
    overflow: hidden;
    font-size: 18px;
    line-height: var(--post-card-title-lh);
    max-height: calc(var(--post-card-title-lh) * var(--post-card-title-max-lines));
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--post-card-title-max-lines);
    word-break: break-word;
}
.post-card__title a {
    color: #ffffff;
}
.post-card__categories {
    padding: 3px;
    margin: 2px -3px -3px;
    color: rgba(255, 255, 255, 0.5);
}
.post-card__categories a {
    color: rgba(255, 255, 255, 0.5);
}
.post-card__meta {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 13px;
}

.post-card__comments {
    --post-comments-bg: #fff;

    border-radius: 3px;
    background: var(--post-comments-bg);
    color: #000;
    padding: 1px 5px 2px;
    min-width: 16px;
    text-align: center;
    font-weight: 700;
    position: relative;
}
.post-card__comments:after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 6px;
    height: 6px;
    background: var(--post-comments-bg);
    right: 50%;
    margin-right: -3px;
    transform: rotate(45deg);
}

.post-card__ribbon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.post-card__ribbon svg {
    width: 18px;
    height: 18px;
    margin: 7px;
    fill: #fff;
}

.post-card__ribbon.post-card__sticky {
    background: linear-gradient(to bottom right, #c5ce21 0%, #c5ce21 50%, transparent 50%, transparent 100%);
}
.post-card__ribbon.post-card__protected {
    background: linear-gradient(to bottom left, #ff2c2c 0%, #ff2c2c 50%, transparent 50%, transparent 100%);
    right: 0;
    left: auto;
    text-align: right;
}

/* Bright Background */
.post-card.--bright .post-card__title a {
    color: #000;
}
.post-card.--bright .post-card__categories,
.post-card.--bright .post-card__categories a {
    color: rgba(0, 0, 0, 0.7);
}
.post-card.--bright .post-card__body {
    color: rgba(0, 0, 0, 0.4);
}
.post-card.--bright .post-card__comments {
    --post-comments-bg: #222;
    color: #eee;
}

/* Small */
.post-card.post-card--small .post-card__title {
    font-size: 16px;
    line-height: 24px;
}